# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi

# User specific environment and startup programs

# Oracle DBA Environment for Node 2
export ORACLE_BASE={{ oracle_base }}
export ORACLE_HOME={{ oracle_db_home }}
export ORACLE_SID=ORCL2
export PATH=$ORACLE_HOME/bin:$PATH
export LD_LIBRARY_PATH=$ORACLE_HOME/lib:$LD_LIBRARY_PATH
export TNS_ADMIN=$ORACLE_HOME/network/admin

# Grid Infrastructure access
export GRID_HOME={{ oracle_grid_home }}
export ASM_HOME={{ oracle_grid_home }}

umask 022 