# Oracle RAC related
192.168.8.5     oracle-debezium-rac-01-priv.mwqe.psi.rdu2.redhat.com
192.168.8.6     oracle-debezium-rac-02-priv.mwqe.psi.rdu2.redhat.com
#PUBLIC
10.0.15.50      oracle-debezium-rac-01.mwqe.psi.rdu2.redhat.com
10.0.13.158     oracle-debezium-rac-02.mwqe.psi.rdu2.redhat.com
#VIP
10.0.12.24      oracle-debezium-rac-01-vip.mwqe.psi.rdu2.redhat.com
10.0.12.25      oracle-debezium-rac-02-vip.mwqe.psi.rdu2.redhat.com
#SCAN
10.0.12.224     oracle-debezium-rac-scan.mwqe.psi.rdu2.redhat.com
10.0.12.225     oracle-debezium-rac-scan.mwqe.psi.rdu2.redhat.com
10.0.12.226     oracle-debezium-rac-scan.mwqe.psi.rdu2.redhat.com


127.0.0.1   localhost
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
