#PUB
172.25.250.67   oracle-node01.lab.dev.example.com
172.25.250.68   oracle-node02.lab.dev.example.com
#VIP
172.25.250.72   oracle-node01-virt.lab.dev.example.com
172.25.250.73   oracle-node02-virt.lab.dev.example.com
#PRIV
192.168.210.67  oracle-node01-priv.lab.dev.example.com
192.168.210.68  oracle-node02-priv.lab.dev.example.com
#SCAN
172.25.250.69   oracle-scan.lab.dev.example.com
172.25.250.70   oracle-scan.lab.dev.example.com
172.25.250.71   oracle-scan.lab.dev.example.com

127.0.0.1   localhost
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
