# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/.local/bin:$HOME/bin

export ORACLE_HOSTNAME=oracle-node01.lab.dev.example.com
export TMPDIR=$TMP
export TMP=/tmp
export TMPDIR=$TMP
export ORACLE_BASE="/services/oracle/grid/gridbase"
export ORACLE_HOME="/services/oracle/grid/19.3/grid_home"
export GRID_BASE="/services/oracle/grid/gridbase"
export GRID_HOME="/services/oracle/grid/19.3/grid_home"
export ORACLE_SID=+ASM1
export ORACLE_TERM=xterm
export PATH=/usr/sbin:/usr/local/bin:$PATH
export PATH=$ORACLE_HOME/bin:$PATH
export LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib
export CLASSPATH=$ORACLE_HOME/jlib:$ORACLE_HOME/rdbms/jlib

#Oracle user Settings
export ORACLE_SID="dballo1"
export ORACLE_HOSTNAME=oracle-node01.lab.dev.example.com
export ORACLE_UNQNAME=dballo
export ORACLE_BASE=/services/oracle/db/19.3
export DB_HOME=$ORACLE_BASE/db_home
export ORACLE_HOME=$DB_HOME
export ORACLE_TERM=xterm
export PATH=/usr/sbin:/usr/local/bin:$PATH
export PATH=$ORACLE_HOME/bin:$PATH
export LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib
export CLASSPATH=$ORACLE_HOME/jlib:$ORACLE_HOME/rdbms/jlib

