#ORACLE RAC
#PUB
192.168.2.130 oracle-node01.lab.dev.example.com
192.168.2.131 oracle-node02.lab.dev.example.com
#VIP
192.168.2.132  oracle-node01-vip.lab.dev.example.com
192.168.2.133  oracle-node02-vip.lab.dev.example.com
#PRIV
172.25.250.130  oracle-node01-priv.lab.dev.example.com
172.25.250.131  oracle-node02-priv.lab.dev.example.com
172.25.250.137  oracle-storage-priv.lab.dev.example.com
#SCAN
192.168.2.134  oracle-scan.lab.dev.example.com
192.168.2.135  oracle-scan.lab.dev.example.com
192.168.2.136  oracle-scan.lab.dev.example.com
#storage
192.168.2.137   oracle-storage.lab.dev.example.com
127.0.0.1   localhost
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
