CREATE ROLES DBALLO;
GRANT CONNECT TO DBALLO;
GRANT RESOURCE TO DBALLO;
GRANT CREATE SYNONYM TO DBALLO;
SET ROLE DBALLO;

CREATE USER dballo00 IDENTIFIED BY dballo00 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO00";
ALTER USER DBALLO00 DEFAULT ROLE DBALLO;

CREATE USER dballo01 IDENTIFIED BY dballo01 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO01";
ALTER USER DBALLO01 DEFAULT ROLE DBALLO;

CREATE USER dballo02 IDENTIFIED BY dballo02 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO02";
ALTER USER DBALLO02 DEFAULT ROLE DBALLO;

CREATE USER dballo03 IDENTIFIED BY dballo03 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO03";
ALTER USER DBALLO03 DEFAULT ROLE DBALLO;

CREATE USER dballo04 IDENTIFIED BY dballo04 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO04";
ALTER USER DBALLO04 DEFAULT ROLE DBALLO;

CREATE USER dballo05 IDENTIFIED BY dballo05 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO05";
ALTER USER DBALLO05 DEFAULT ROLE DBALLO;

CREATE USER dballo06 IDENTIFIED BY dballo06 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO06";
ALTER USER DBALLO06 DEFAULT ROLE DBALLO;

CREATE USER dballo07 IDENTIFIED BY dballo07 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO07";
ALTER USER DBALLO07 DEFAULT ROLE DBALLO;

CREATE USER dballo08 IDENTIFIED BY dballo08 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO08";
ALTER USER DBALLO08 DEFAULT ROLE DBALLO;

CREATE USER dballo09 IDENTIFIED BY dballo09 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO09";
ALTER USER DBALLO09 DEFAULT ROLE DBALLO;

CREATE USER dballo10 IDENTIFIED BY dballo10 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO10";
ALTER USER DBALLO10 DEFAULT ROLE DBALLO;

CREATE USER dballo11 IDENTIFIED BY dballo11 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO11";
ALTER USER DBALLO11 DEFAULT ROLE DBALLO;

CREATE USER dballo12 IDENTIFIED BY dballo12 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO12";
ALTER USER DBALLO12 DEFAULT ROLE DBALLO;

CREATE USER dballo13 IDENTIFIED BY dballo13 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO13";
ALTER USER DBALLO13 DEFAULT ROLE DBALLO;

CREATE USER dballo14 IDENTIFIED BY dballo14 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO14";
ALTER USER DBALLO14 DEFAULT ROLE DBALLO;

CREATE USER dballo15 IDENTIFIED BY dballo15 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO15";
ALTER USER DBALLO15 DEFAULT ROLE DBALLO;

CREATE USER dballo16 IDENTIFIED BY dballo16 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO16";
ALTER USER DBALLO16 DEFAULT ROLE DBALLO;

CREATE USER dballo17 IDENTIFIED BY dballo17 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO17";
ALTER USER DBALLO17 DEFAULT ROLE DBALLO;

CREATE USER dballo18 IDENTIFIED BY dballo18 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO18";
ALTER USER DBALLO18 DEFAULT ROLE DBALLO;

CREATE USER dballo19 IDENTIFIED BY dballo19 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO19";
ALTER USER DBALLO19 DEFAULT ROLE DBALLO;

CREATE USER dballo20 IDENTIFIED BY dballo20 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO20";
ALTER USER DBALLO20 DEFAULT ROLE DBALLO;

CREATE USER dballo21 IDENTIFIED BY dballo21 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO21";
ALTER USER DBALLO21 DEFAULT ROLE DBALLO;

CREATE USER dballo22 IDENTIFIED BY dballo22 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO22";
ALTER USER DBALLO22 DEFAULT ROLE DBALLO;

CREATE USER dballo23 IDENTIFIED BY dballo23 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO23";
ALTER USER DBALLO23 DEFAULT ROLE DBALLO;

CREATE USER dballo24 IDENTIFIED BY dballo24 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO24";
ALTER USER DBALLO24 DEFAULT ROLE DBALLO;

CREATE USER dballo25 IDENTIFIED BY dballo25 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO25";
ALTER USER DBALLO25 DEFAULT ROLE DBALLO;

CREATE USER dballo26 IDENTIFIED BY dballo26 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO26";
ALTER USER DBALLO26 DEFAULT ROLE DBALLO;

CREATE USER dballo27 IDENTIFIED BY dballo27 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO27";
ALTER USER DBALLO27 DEFAULT ROLE DBALLO;

CREATE USER dballo28 IDENTIFIED BY dballo28 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO28";
ALTER USER DBALLO28 DEFAULT ROLE DBALLO;

CREATE USER dballo29 IDENTIFIED BY dballo29 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "DBALLO29";
ALTER USER DBALLO29 DEFAULT ROLE DBALLO;

CREATE USER crash1 IDENTIFIED BY crash1 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "CRASH1";
ALTER USER CRASH1 DEFAULT ROLE DBALLO;

CREATE USER crash2 IDENTIFIED BY crash2 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "CRASH2";
ALTER USER CRASH2 DEFAULT ROLE DBALLO;

CREATE USER crash3 IDENTIFIED BY crash3 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "CRASH3";
ALTER USER CRASH3 DEFAULT ROLE DBALLO;

CREATE USER crash4 IDENTIFIED BY crash4 DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "CRASH4";
ALTER USER CRASH4 DEFAULT ROLE DBALLO;

CREATE USER "KRBUSR01@LAB.DEV.EXAMPLE.COM" identified externally DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "KRBUSR01@LAB.DEV.EXAMPLE.COM";

CREATE USER "KRBUSR02@LAB.DEV.EXAMPLE.COM" identified externally DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "KRBUSR02@LAB.DEV.EXAMPLE.COM";

CREATE USER "KRBUSR03@LAB.DEV.EXAMPLE.COM" identified externally DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "KRBUSR03@LAB.DEV.EXAMPLE.COM";

CREATE USER "KRBUSR04@LAB.DEV.EXAMPLE.COM" identified externally DEFAULT TABLESPACE users TEMPORARY TABLESPACE TEMP QUOTA UNLIMITED ON users;
GRANT "DBALLO" TO "KRBUSR04@LAB.DEV.EXAMPLE.COM";



quit;
/
